.chatContainer{
    display: flex;
    justify-content: center;
    background-size: contain;
}

.chatContainerHijo{
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    display: inline-block;
    position: relative;
    background-size: contain;
    justify-content: center;
    top:2pc;
    width: 80%;
}

@media screen and (max-width: 500px) {
    .chatContainerHijo{
        width: auto;
        padding: 0% 2% 0% 2%;
    }

}
