
.search-reservation{
    display: flex;
    justify-content: space-around;
}

.logo-container-reservation{
    display: list-item;
    justify-content: right;
}

.buttons-imputs{
    display: list-item;
}