.product-card{
    background: white;
    border-radius: 10px 10px 15px 15px;
    margin: 0 0 0 0;
    width: 2000px;
}
.product-card-header{
    background: rgb(44, 27, 27);
}
.product-card-body{
    background: rgb(170, 26, 26);
}

.card{
    width: 18pc;
}